@media (max-width: 768px) {
  .grid {
    grid-template-columns: repeat(2, 1fr) !important;
  }
}

@media (max-width: 480px) {
  .grid {
    grid-template-columns: repeat(1, 1fr) !important;
    
  }

  .mx-5 {
    margin-left: 8px !important;
    margin-right: 8px !important;
  }

  /* image size കുറയ്ക്കുക */
  .grid img {
    height: 180px !important;
    object-fit: contain !important;
  }

  /* title size */
  .grid h3 {
    font-size: 1rem !important;
  }
}
@media (max-width: 480px) {
  .flex.justify-center {
    gap: 20px !important;
  }
}